@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    /*=========== Color Variables =============*/
    --clr-primary: #D9525E;
    --clr-secondary: #B4D966;
    --clr-bg-primary: #303036;
    --clr-bg-secondary: #F2F2F2;

    /*====== Font Weight Variables =====*/
    --font-wght-thin: 100;
    --font-wght-light: 300;
    --font-wght-regular: 400;
    --font-wght-medium: 500;
    --font-wght-bold: 700;
    --font-wght-black: 900;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}


body{
    /* To Keep Footer At Bottom */
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a{
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: var(--font-wght-bold);
}


.primaryBtn{
    background-color: var(--clr-primary);
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0px 5px 5px 0px;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.primaryBtn:hover{
    /* color:#FFE4E3; */
    background-color:transparent !important;
    outline: 1px solid var(--clr-primary) !important;
    color: var(--clr-primary);
}

.container{
    max-width: min(90%,1500px);
}